- single_content_for :action do
  - if a.recipient
    = t('has_created') + ' ' + t('the_group')
    = link_to a.recipient.name, a.trackable
  - else
    = t('has_created') + ' ' + t('a_group_which_has_been_removed')