.jumbotron
  %h2 Wie möchten sie nun buzzn nutzen?

  = link_to 'ich möchte meinen strom über buzzn beziehen.', complete_user_edit_wizard_consumers_path(:complete_user), class: 'btn btn-primary btn-lg'

  = link_to 'ich möchte ersmal nicht kunde werden', root_path, class: 'btn btn-primary btn-lg'