.col-md-6.col-lg-4
  = link_to profile do
    .panel.media.pad-all
      .media-left
        - if profile.image?
          = image_tag profile.image.sm, class: 'img-circle img-sm'
        - else
          %span.icon-wrap.icon-wrap-sm.icon-circle.bg-success
            %i.fa.fa-user.fa-2x
      .media-body
        %h3.text-thin.media-heading= profile.name

