.row
  .col-md-6
    #demo-panel-ref.panel.panel-bordered.panel-primary
      .panel-heading
        %h1.panel-title Willkommen bei Buzzn
      .panel-body
        %p und nun? fragen sie sich bestimmt. buzzn lässt sich über eine vielzahl von möglichkeiten nutzen.
        = link_to t('wizard_consumers'), complete_user_wizard_consumers_path, class: 'btn btn-primary btn-lg'
