.row

  .col-lg-12
    #demo-weather-widget-lg.panel.panel-info.panel-colorful.text-center
      .panel-body
        / Widget heading
        .media
          .media-left
            %i.fa.fa-map-marker.fa-3x
          .media-body
            %h4.mar-no.text-left Willkommen beu buzzn
            %p.text-left In Drei einfachen schritten zum Energiewender

        / Widget body
        .row.pad-top
          .col-xs-4
            %p.text-4x 1
            %p Zählpunkt erstellen
          .col-xs-4
            %p.text-4x 2
            %p Smartmeter einrichten
          .col-xs-4
            %p.text-4x 3
            %p Strom Gruppe beitreten
        %hr

