%h1 Listing Profiles
#users
  - @profiles.each do |profile|
    .user
      %p
        %strong= link_to profile.name, profile
        = link_to "Add Friend", friendships_path( friend_id: profile.user), method: :post
      .clear