#page-title
  %h1.page-header.text-overflow= t'users'
  / Searchbox
  / .searchbox
  /   .input-group.custom-search-form
  /     %input.form-control{:placeholder => "Search..", :type => "text"}
  /       %span.input-group-btn
  /         %button.text-muted{:type => "button"}
  /           %i.fa.fa-search

#page-content
  .row
    = render @profiles