- single_content_for :action do
  - if a.trackable
    = t('has_updated') + ' ' + t('the_metering_point')
    %a.btn-link.text-semibold{:href => metering_point_path(a.trackable)}
      = a.trackable.name
  - else
    = t('has_updated') + ' ' + t('a_metering_point_which_has_been_removed')