- single_content_for :action do
  = t('has_joined') + ' ' + t('the_group')
  = link_to a.recipient.name, a.trackable
  = t('with_the_metering_point')
  = link_to a.owner.location.metering_points.first