.register.col-sm-6.col-md-4.col-lg-3{ id: register.id}
  .panel.panel-colorful{ class: "panel-#{register.panel_mode_class}"}
    .pad-all.text-center
      %span.text-5x.text-thin 241 W
      %p= t(register.mode)
      - if register.mode == 'in'
        %i.fa.fa-arrow-down
      - elsif register.mode == 'out'
        %i.fa.fa-arrow-up
      - else
