%h1= t('sign_up')

%h3= t('its_impossible_to_sign_up_at_the_moment_because_this_function_has_been_deactivated')
%h3= t('only_invited_members_can_use_this_app_now')

%h3= t('if_the_beta_test_is_over_you_can_register_without_invitation')
