= simple_form_for(:comment, url: new_comment_path(commentable.class.to_s.underscore, commentable.id)) do |f|
  = render 'comments/form_fields', f: f
  = f.button :submit, id: 'submit', class: 'btn btn-success'