---
http_interactions:
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getLive?meterId=EASYMETER_60138947&numOfSeconds=6&password=Zebulon_4711&user=team%40localpool.de
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Thu, 03 Nov 2016 16:25:24 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","result":[{"time":1478190319915,"power":19619250},{"time":1478190321915,"power":19591200},{"time":1478190323915,"power":19637830}]}'
  recorded_at: Sat, 02 Jul 2016 08:05:12 GMT
[...]
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getLive?meterId=EASYMETER_1338000816&numOfSeconds=6&password=Zebulon_4711&user=team%40localpool.de
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Thu, 03 Nov 2016 16:25:26 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","result":[{"time":1478190322920,"power":-28960},{"time":1478190324920,"power":-29050},{"time":1478190326920,"power":-29310}]}'
  recorded_at: Sat, 02 Jul 2016 08:05:14 GMT
recorded_with: VCR 3.0.3
