---
http_interactions:
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getLive?meterId=EASYMETER_60139082&numOfSeconds=6&password=Zebulon_4711&user=team%40localpool.de
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Fri, 18 Nov 2016 13:26:07 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","result":[{"time":1479475561944,"power":-1155160},{"time":1479475563944,"power":-1184950},{"time":1479475565944,"power":-1234490}]}'
  recorded_at: Fri, 18 Nov 2016 13:26:07 GMT
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getLive?meterId=EASYMETER_60139082&numOfSeconds=6&password=Zebulon_4711&user=team%40localpool.de
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Fri, 18 Nov 2016 13:26:08 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","result":[{"time":1479475563944,"power":-1184950},{"time":1479475565944,"power":-1234490},{"time":1479475567944,"power":-1249340}]}'
  recorded_at: Fri, 18 Nov 2016 13:26:08 GMT
recorded_with: VCR 3.0.3
