---
http_interactions:
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getLive?meterId=EASYMETER_60139082&numOfSeconds=6&password=Zebulon_4711&user=team%40localpool.de
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Thu, 03 Nov 2016 17:05:01 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","result":[{"time":1478192697945,"power":-10150},{"time":1478192699945,"power":-10200}]}'
  recorded_at: Sat, 02 Jul 2016 08:05:01 GMT
recorded_with: VCR 3.0.3
