=f.input :manufacturer_name
=f.input :manufacturer_product_name
=f.input :manufacturer_product_serialnumber
=f.input :device_kind
=f.input :device_type
=f.input :ownership
=f.input :build
=f.input :calibrated_till
=f.input :converter_constant