body {font-size: 0.8rem; font-family: 'Asap', sans-serif; font-weight: 400}
p { margin: 1.14rem; }

.is-huge {font-size: 1.3rem;}
.is-larger {font-size: 1.1rem;}
.is-large {font-size: 1rem;}
.is-medium {font-size: 0.8rem;}
.is-small {font-size: 0.67rem;}
.is-smaller {font-size: 0.55rem;}
.is-bold {font-weight: 700}

.letter-boxed { position: absolute; top: 7rem; left: 2.3rem; }
.has-letter-box-above { position: absolute; top: 17rem; }
