.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h4.modal-title= t'edit_up_device'
    .modal-body
      = simple_form_for @device, remote: true, html: {multipart: true} do |f|
        = render 'devices/up_form_fields', f: f
        = f.button :submit, id: 'submit', class: 'btn btn-primary'
