%p
  = t('hello') + " #{@receiver.name}!"
%p= t('user_is_no_longer_a_member_of_your_register', user: @sender.name, register: link_to(@register.name, register_url(@register))).html_safe
%p= t('your_buzzn_team')