#page-title
  %h1.page-header.text-overflow= t'my_conversations'
  = new_conversation

#page-content
  .row
    .col-xs-12.col-sm-12.col-md-6.col-lg-6
      .panel-group.accordion{id: "accordion"}
        = render @conversations