- single_content_for :action do
  - if a.recipient && a.recipient.profile
    = t('has_removed_user_from_the_conversation', user: a.recipient.name)
  - else
    = t('has_removed_someone_to_the_conversation')