---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"ajupejqasgpd0uf722h93negc8","secret":"kd64f6o8pjtk3k249cji1va0v7","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:00 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="ajupejqasgpd0uf722h93negc8",
        oauth_nonce="Df9BjOrt1zalZpEjYcc9zCntl0AUm0ilifq10dORZo", oauth_signature="rERkgBlpaq8zAWPqBNeE2HNPLhA%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1467446700", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=913d9805f2bc4f96855298eda5942a11&oauth_token_secret=34f4f501e9124edd81daea1fa3ffdc13&oauth_callback_confirmed=true
  recorded_at: Sat, 02 Jul 2016 08:05:00 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/oauth1/authorize?email=team%40localpool.de&oauth_token=913d9805f2bc4f96855298eda5942a11&password=Zebulon_4711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_verifier=a08a6b9791fa49b2a75c1667a8e96698
  recorded_at: Sat, 02 Jul 2016 08:05:00 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/access_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ajupejqasgpd0uf722h93negc8", oauth_nonce="hmWy5AiWoEqsK7NjExmtx4kITnyMA8Lc8g9HcDkNgI",
        oauth_signature="Wr0XpywDVawd3rFtmanoPge9AfI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446701", oauth_token="913d9805f2bc4f96855298eda5942a11",
        oauth_verifier="a08a6b9791fa49b2a75c1667a8e96698", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=585f89f028c84b0298d0bf992688f783&oauth_token_secret=e43ed4c238cc4ebebd1f8ae47265add1
  recorded_at: Sat, 02 Jul 2016 08:05:01 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/last_reading?each=true&fields=power&meterId=EASYMETER_60139082
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ajupejqasgpd0uf722h93negc8", oauth_nonce="13WwE6knh42wyyr2i2kKSo8lFvZKZ9sPlXhn3Qi0",
        oauth_signature="1DqB%2FDyqdwvggH8GsY7Qmzi61B0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446701", oauth_token="585f89f028c84b0298d0bf992688f783",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      Www-Authenticate:
      - OAuth realm="default"
    body:
      encoding: UTF-8
      string: '{"time":1467446702088,"values":{"power":1100640}}'
  recorded_at: Sat, 02 Jul 2016 08:05:01 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/last_reading?each=false&fields=power&meterId=EASYMETER_60139082
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ajupejqasgpd0uf722h93negc8", oauth_nonce="TfrslDKcuoJwaDvOSUBBvkQww0UqdK9U0cGFUnfH3Yo",
        oauth_signature="zgX95XJKLXMyYU5HyTZXQn%2FTEns%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446700", oauth_token="585f89f028c84b0298d0bf992688f783",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: '{"time":1467446702088,"values":{"power":1100640}}'
  recorded_at: Sat, 02 Jul 2016 08:05:00 GMT
recorded_with: VCR 3.0.3
