---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"p1u8mkrf5gng5kjf2s4ihfhuuh","secret":"vb12nk7h8h26r45iu70b2jbhf2","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Mon, 01 Feb 2016 00:30:01 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="p1u8mkrf5gng5kjf2s4ihfhuuh",
        oauth_nonce="mZpcyLIBtRxCdffoUw5qy30qljD9k2u18fXNzA4RobU", oauth_signature="b6BSaeufIPZKkqKWg6SlaYy4%2BSc%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1454286601", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=5c39fb8941e14e598d4018f099ccfeb6&oauth_token_secret=f802c1d67d274820a5d02373ab20d8bf&oauth_callback_confirmed=true
  recorded_at: Mon, 01 Feb 2016 00:30:01 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/oauth1/authorize?email=team%40localpool.de&oauth_token=5c39fb8941e14e598d4018f099ccfeb6&password=Zebulon_4711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_verifier=fd7891c56616493c847d0f34bc195fc7
  recorded_at: Mon, 01 Feb 2016 00:30:01 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/access_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="p1u8mkrf5gng5kjf2s4ihfhuuh", oauth_nonce="cMP2j88I24EjOH21LQeM8By8gNRGp4c1nlRm79bfTk",
        oauth_signature="ALl%2BmNrITECZ9pJNPThzk%2BES8vI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1454286601", oauth_token="5c39fb8941e14e598d4018f099ccfeb6",
        oauth_verifier="fd7891c56616493c847d0f34bc195fc7", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=221a87aad37447e0a08a9195fa647f2c&oauth_token_secret=c075cac01bad4c7d886cb02c9b7bc7ed
  recorded_at: Mon, 01 Feb 2016 00:30:01 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/last_reading?each=true&fields=power&meterId=EASYMETER_60139082
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="p1u8mkrf5gng5kjf2s4ihfhuuh", oauth_nonce="sXXYoqKJfE226EIJqzVnwqSDywMMcTv3jUWpFkw",
        oauth_signature="EV1ZaSuKQ8Ufp4n0JsDwENKwxK4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1454286601", oauth_token="221a87aad37447e0a08a9195fa647f2c",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: '{"time":1467446702088,"values":{"power":1100640}}'
  recorded_at: Mon, 01 Feb 2016 00:30:01 GMT
[...]
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/last_reading?each=false&fields=power&meterId=EASYMETER_60139082
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="p1u8mkrf5gng5kjf2s4ihfhuuh", oauth_nonce="6KhVZorpeNF8psXffsPlUW0QN6zXbG7E9A2Rt9uo0",
        oauth_signature="Ly4ftP5XStCrGAhu4tGp%2F66uNso%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1454286601", oauth_token="221a87aad37447e0a08a9195fa647f2c",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: '{"time":1467446702088,"values":{"power":1100640}}'
  recorded_at: Mon, 01 Feb 2016 00:30:01 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/last_reading?each=false&fields=power&meterId=EASYMETER_60139082
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="p1u8mkrf5gng5kjf2s4ihfhuuh", oauth_nonce="6I6te9igb3dICx2dgLitM3LciWOOH4zkKYwtFXs",
        oauth_signature="pNZn1zqLx78IJp3ZVGTvFNxZ6Gw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1454286601", oauth_token="221a87aad37447e0a08a9195fa647f2c",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: '{"time":1467446702088,"values":{"power":1100640}}'
  recorded_at: Mon, 01 Feb 2016 00:30:01 GMT
recorded_with: VCR 3.0.3
