---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"15s2g3hmiphqdht16g7t0khpl9","secret":"f69oktgs8onskampvcdl3l9ghi","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:19:31 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="15s2g3hmiphqdht16g7t0khpl9",
        oauth_nonce="6XFCm7BG2qrgzkkvXSis7XJ6CCIs77C5yLupKYgBs", oauth_signature="d3ObI23%2FVCa0EyKKDYSGLEvsI2k%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1467447571", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=734100a932c744ddbce211ad67ca3b55&oauth_token_secret=0d99a69fcb03465aadfb3fc75a428bc6&oauth_callback_confirmed=true
  recorded_at: Sat, 02 Jul 2016 08:19:31 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/oauth1/authorize?email=team%40localpool.de&oauth_token=734100a932c744ddbce211ad67ca3b55&password=Zebulon_4711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_verifier=65e40317724c48769531d2333122aec4
  recorded_at: Sat, 02 Jul 2016 08:19:31 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/access_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="15s2g3hmiphqdht16g7t0khpl9", oauth_nonce="BVRKUem6y83HAOF5m8ARdwF6yRe48G1b1B0xyGxk",
        oauth_signature="AnYHWNN3PymN%2FjjaB%2Fc0n2%2FxomU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467447571", oauth_token="734100a932c744ddbce211ad67ca3b55",
        oauth_verifier="65e40317724c48769531d2333122aec4", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=110b1cac8d8348d1bf938e8e1dc498c9&oauth_token_secret=31bedf5fc3a94e589dfcde8771b43e27
  recorded_at: Sat, 02 Jul 2016 08:19:31 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/readings?each=false&fields=energy&from=1451602800000&meterId=EASYMETER_60139082&resolution=one_month&to=1483225200000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="15s2g3hmiphqdht16g7t0khpl9", oauth_nonce="0CaKBPteyeli0YRAU4y1MXyRLeq5k11dYpCJyEAY",
        oauth_signature="B7%2Bqnu%2B%2BNPsbCRFxR4gqWxhrLlk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467447571", oauth_token="110b1cac8d8348d1bf938e8e1dc498c9",
        oauth_version="1.0"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      Www-Authenticate:
      - OAuth realm="default"
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"/>
        <title>Error 401 </title>
        </head>
        <body>
        <h2>HTTP ERROR: 401</h2>
        <p>Problem accessing /public/v1/readings. Reason:
        <pre>    Unauthorized</pre></p>
        <hr /><a href="http://eclipse.org/jetty">Powered by Jetty:// 9.3.z-SNAPSHOT</a><hr/>
        </body>
        </html>
  recorded_at: Sat, 02 Jul 2016 08:19:31 GMT
[...]
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/readings?each=false&fields=energy&from=1451602800000&meterId=EASYMETER_60139082&resolution=one_month&to=1483225200000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="lpt9ml6i910ob2cqvcgesqb77s", oauth_nonce="gTj1SpMrYXeRIt7BrjxCcqoN3iO7DyFk7T7cLH2NU",
        oauth_signature="hBOJ6j3wMl43mvkqXMEg5%2FbjW7Q%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467447572", oauth_token="3b373409701946d6ac6fb03aa1f7f95b",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      Www-Authenticate:
      - OAuth realm="default"
    body:
      encoding: UTF-8
      encoding: ASCII-8BIT
      string: '[{"time":1483225200000,"values":{"energy":31952817894000}}]'
  recorded_at: Tue, 17 Jan 2017 09:36:10 GMT
recorded_with: VCR 3.0.3
