---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"e2m206tufotddbts9lj6g16apk","secret":"qkg85bcv7jv2c1hb56cucllf03","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="e2m206tufotddbts9lj6g16apk",
        oauth_nonce="Mf37jPeU8dIbjI19KnTxHZrKwPVowsm96e5g9imynk", oauth_signature="AZNlNcPEzzZEITK4kmP%2FJdaR6rQ%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1467446702", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=f399740a7079497aa055fd8cef4e04ee&oauth_token_secret=d79d3658899447c897349c170b791ea5&oauth_callback_confirmed=true
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/oauth1/authorize?email=team%40localpool.de&oauth_token=f399740a7079497aa055fd8cef4e04ee&password=Zebulon_4711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_verifier=e727dc6c0b6f4fcd80e95553158d6745
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/access_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="e2m206tufotddbts9lj6g16apk", oauth_nonce="zB7SERhQfzPyfTCFMhMbppGdzjBY9yjtd8VMnZ1E2j4",
        oauth_signature="llQNm5lEshZ79QiqpmZiSFmiPiQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446702", oauth_token="f399740a7079497aa055fd8cef4e04ee",
        oauth_verifier="e727dc6c0b6f4fcd80e95553158d6745", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=468bdc9aefc84702b84934d969a14d9a&oauth_token_secret=02301f8ce6a945e3ab0e46408a78f33e
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/last_reading?each=false&fields=power&meterId=EASYMETER_60139082
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="e2m206tufotddbts9lj6g16apk", oauth_nonce="76bQizT0Wky9Jj1fvB2dVppwzatsk2E0iROHi4o9c9I",
        oauth_signature="Ynt2AZo90b7S0QTr1pmN8G7O8v8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446702", oauth_token="468bdc9aefc84702b84934d969a14d9a",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: "{\"time\":1467446702088,\"values\":{\"power\":932370}}"
  recorded_at: Sat, 02 Jul 2016 08:05:03 GMT
[...]
