---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="e2m206tufotddbts9lj6g16apk",
        oauth_nonce="xnEx7mauNPVj7ydiXjWwPGe79bOEdZHj4OPtpXLMU", oauth_signature="31hLkZhTjqyoWmrNIqM8OQKvSpU%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1484645769", oauth_version="1.0"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"/>
        <title>Error 400 </title>
        </head>
        <body>
        <h2>HTTP ERROR: 400</h2>
        <p>Problem accessing /public/v1/oauth1/request_token. Reason:
        <pre>    Bad Request</pre></p>
        <hr /><a href="http://eclipse.org/jetty">Powered by Jetty:// 9.3.z-SNAPSHOT</a><hr/>
        </body>
        </html>
  recorded_at: Tue, 17 Jan 2017 09:36:09 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"1f9c4v1mktao48jh045ff5v73i","secret":"qqkit7a3cqrs2vv6euldojh230","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Tue, 17 Jan 2017 09:36:09 GMT
[...]
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/oauth1/authorize?email=team%40localpool.de&oauth_token=1fd7619e8d904dca994828af9400d60a&password=Zebulon_4711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_verifier=2f0a4aef5dbd43b18e5c8a15d489a94a
  recorded_at: Tue, 17 Jan 2017 09:36:09 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/access_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="1f9c4v1mktao48jh045ff5v73i", oauth_nonce="zOfb9rzgKybFboulCLti0JEjfhSobBLth6GKPkUdpco",
        oauth_signature="GI53Ukz9paeXsr0hwfaRgvoJLaQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1484645769", oauth_token="1fd7619e8d904dca994828af9400d60a",
        oauth_verifier="2f0a4aef5dbd43b18e5c8a15d489a94a", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=1c5f750e365646a8bb384a257213c9ce&oauth_token_secret=f3ffc2457ec84b558be24adc27db8d38
  recorded_at: Tue, 17 Jan 2017 09:36:09 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/readings?each=false&fields=energy&from=1483225200000&meterId=EASYMETER_60139082&resolution=one_month&to=1514761200000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="1f9c4v1mktao48jh045ff5v73i", oauth_nonce="AEmmJsxYZhYI6UfCF2y1SyTzQfyqJbLGhniQvWa8MU",
        oauth_signature="yOKukKJ7xZ78dcMTHxm1kbcTSkw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1484645769", oauth_token="1c5f750e365646a8bb384a257213c9ce",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"time":1483225200000,"values":{"energy":31952817894000}}]'
  recorded_at: Tue, 17 Jan 2017 09:36:10 GMT
recorded_with: VCR 3.0.3
