---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="e2m206tufotddbts9lj6g16apk",
        oauth_nonce="RwPfRNgTiaxlz2RcMJVV9psKyB2oDDYsTM5MOnu8BM", oauth_signature="Lv50SrJ6RFzM2uavGkyWWuxBXGM%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1483697526", oauth_version="1.0"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"/>
        <title>Error 400 </title>
        </head>
        <body>
        <h2>HTTP ERROR: 400</h2>
        <p>Problem accessing /public/v1/oauth1/request_token. Reason:
        <pre>    Bad Request</pre></p>
        <hr /><a href="http://eclipse.org/jetty">Powered by Jetty:// 9.3.z-SNAPSHOT</a><hr/>
        </body>
        </html>
  recorded_at: Fri, 06 Jan 2017 10:12:06 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"t0qo47aeeqn91m2colkumud7fj","secret":"7kadaq6nb9f2d080kk51kcntbg","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Fri, 06 Jan 2017 10:12:07 GMT
[...]
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/oauth1/authorize?email=team%40localpool.de&oauth_token=534be83337cb44879d5ecb59ed82945a&password=Zebulon_4711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_verifier=4aa17160a97344e8affc5772b5c94923
  recorded_at: Fri, 06 Jan 2017 10:12:07 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/access_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="t0qo47aeeqn91m2colkumud7fj", oauth_nonce="axKUOOdQ2HhJGRDFSjBGFTPeGWIWBoLP1Wqoo8gUDk4",
        oauth_signature="D6jSF5Xw%2BWBOMF1GGi43RJDeJ4c%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1483697527", oauth_token="534be83337cb44879d5ecb59ed82945a",
        oauth_verifier="4aa17160a97344e8affc5772b5c94923", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=362322e488f941ada00c67d000d3139d&oauth_token_secret=345f9f704e98432fb1a8421daed7992e
  recorded_at: Fri, 06 Jan 2017 10:12:07 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/last_reading?each=false&fields=power&meterId=EASYMETER_60139082
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="t0qo47aeeqn91m2colkumud7fj", oauth_nonce="rxrWzqiYTna5uGv2i82c8fbOzr94Aew3Npw1Bjvwjg",
        oauth_signature="LWaxSjsRN7wsRRlGP9sx5xZU8y0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1483697527", oauth_token="362322e488f941ada00c67d000d3139d",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"time":1483697525765,"values":{"power":-554370}}'
  recorded_at: Fri, 06 Jan 2017 10:12:08 GMT
recorded_with: VCR 3.0.3
