= f.input :customer_number
= f.input :contract_number

.js-dependent-fields{'data-select-id' => 'organization', 'data-option-value' => 'Discovergy'}
  = f.input :username
  = f.input :password, as: :string

