$(".new_metering_point_operator_contract_group").remove();
$(".metering_point_operator_contracts").append("#{escape_javascript( render @metering_point_operator_contract )}");
$("#myModal").modal('hide');
