= f.input :image
= f.input :manufacturer_name, collection: Meter.manufacturer_names, include_blank: false, input_html: { class: 'select2' }
= f.input :manufacturer_product_serialnumber
= f.association :metering_points, collection: current_user.editable_metering_points, include_blank: false, input_html: { class: 'select2' }