.row.offer
  .col-md-1= link_to meter.address, meter
  .col-md-6
    %span.inlinebar= meter.day_to_hours
  .col-md-5
    = link_to 'Edit', edit_meter_path(meter)
    = link_to 'Destroy', meter, :method => :delete, :data => { :confirm => 'Are you sure?' }
