.col-sm-6.col-md-4.col-lg-3{ id: meter.id}
  .panel.panel-colorful
    .panel-body.text-center
      %p.text-uppercase.mar-btm.text-sm
      %i.fa.fa-tachometer.fa-5x
      %hr
      %h4= link_to meter.name, meter

    .list-group
      - meter.registers.each do |register|
        = link_to t(register.mode), register, class: "list-group-item list-group-item-#{register.panel_mode_class}"

