.container
  %h1 Listing meters
  - @meters.each do |meter|
    .row
      .col-md-1= link_to meter.name, meter
      .col-md-6
        %span.inlinebar 1,2,3,0,4,5,3,2,1,6,5,6,1,1,2,3,0,4,5,3,2,1,6,5,6,1,1,2,3,0,4,5,3,2,1,6,5,6,1,0,4,5,3,2,1,6,5,6,1
      .col-md-5
        = link_to 'Edit', edit_meter_path(meter)
        = link_to 'Destroy', meter, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Meter', new_meter_path
