---
http_interactions:
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getLive?meterId=EASYMETER_60051599&numOfSeconds=6&password=Zebulon_4711&user=team%40localpool.de
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Tue, 21 Jun 2016 20:20:20 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","result":[]}'
  recorded_at: Mon, 01 Sep 2014 08:05:22 GMT
[...]
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getDayEveryFifteenMinutes?day=6&meterId=EASYMETER_60051599&month=4&password=Zebulon_4711&user=team%40localpool.de&year=2016
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Tue, 21 Jun 2016 20:21:32 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","result":[{"time":1459893600000,"energy":116753673190000,"energyOut":0},{"time":1459894500000,"energy":116753673190000,"energyOut":0},{"time":1459895400000,"energy":116753673190000,"energyOut":0},{"time":1459896300000,"energy":116753673190000,"energyOut":0},{"time":1459897200000,"energy":116753673190000,"energyOut":0},{"time":1459898100000,"energy":116753673190000,"energyOut":0},{"time":1459899000000,"energy":116753673190000,"energyOut":0},{"time":1459899900000,"energy":116753673190000,"energyOut":0},{"time":1459900800000,"energy":116753673190000,"energyOut":0},{[...]
[...]
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getDataEveryDay?fromDay=1&fromMonth=2&fromYear=2016&meterId=EASYMETER_60051599&password=Zebulon_4711&toDay=2&toMonth=3&toYear=2016&user=team%40localpool.de
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - [...]
[...]
