---
http_interactions:
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getLive?meterId=EASYMETER_60051560&numOfSeconds=6&password=Zebulon_4711&user=team%40localpool.de
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Wed, 22 Jun 2016 09:09:23 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","result":[{"time":1466586557857,"power":894660},{"time":1466586559857,"power":886480},{"time":1466586561857,"power":889140}]}'
  recorded_at: Mon, 01 Feb 2016 00:30:01 GMT
[...]
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getDayEveryFifteenMinutes?day=6&meterId=EASYMETER_60051599&month=4&password=Zebulon_4711&user=team%40localpool.de&year=2016
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Wed, 22 Jun 2016 11:04:07 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","result":[{"time":1459893600000,"energy":116753673190000,"energyOut":0},{"time":1459894500000,"energy":116753673190000,"energyOut":0},{"time":1459895400000,"energy":116753673190000,"energyOut":0},{"time":1459896300000,"energy":116753673190000,"energyOut":0},{"time":1459897200000,"energy":116753673190000,"energyOut":0},{"time":1459898100000,"energy":116753673190000,"energyOut":0},{"time":1459899000000,"energy":116753673190000,"energyOut":0},{"time":1459899900000,"energy":116753673190000,"energyOut":0},{"time":1459900800000,"energy":116753673190000,"energyOut":0},{[...]
[...]
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getDataEveryDay?fromDay=1&fromMonth=2&fromYear=2016&meterId=EASYMETER_60051599&password=Zebulon_4711&toDay=2&toMonth=3&toYear=2016&user=team%40localpool.de
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - [...]
[...]
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getLive?meterId=EASYMETER_3353986&numOfSeconds=6&password=Zebulon_4711&user=team%40localpool.de
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Fri, 02 Sep 2016 06:16:15 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","reason":"Invalid permissions"}'
  recorded_at: Sat, 02 Jul 2016 08:05:12 GMT
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getLive?meterId=EASYMETER_3353989&numOfSeconds=6&password=PPf93TcR&user=justus%40buzzn.net
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Fri, 02 Sep 2016 06:16:23 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","reason":"Invalid permissions"}'
  recorded_at: Sat, 02 Jul 2016 08:05:20 GMT
[...]
- request:
    method: get
    uri: https://api.mysmartgrid.de:8443/sensor/6ed89edf81be48586afc19f9006feb8b?end=1467446722&resolution=minute&start=1467446382&unit=watt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - 1a875e34e291c28db95ecbda015ad433
      X-Version:
      - '1.0'
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[[1467446400,522.875000016],[1467450000,562.624999992]]"
  recorded_at: Sat, 02 Jul 2016 08:05:22 GMT
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getLive?meterId=EASYMETER_1124001747&numOfSeconds=6&password&user=justus%40buzzn.net
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Mon, 05 Sep 2016 09:47:38 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","reason":"Invalid credentials"}'
  recorded_at: Sat, 02 Jul 2016 08:07:51 GMT
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getLive?meterId=EASYMETER_1124001747&numOfSeconds=6&password=pwd&user=user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Tue, 06 Sep 2016 06:38:11 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","reason":"Invalid credentials"}'
  recorded_at: Sat, 02 Jul 2016 08:05:04 GMT
[...]
- request:
    method: get
    uri: https://api.mysmartgrid.de:8443/sensor/user?end=1467446938&resolution=minute&start=1467446598&unit=watt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - pwd
      X-Version:
      - '1.0'
  response:
    status:
      code: 474
      message: 
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 02 Jul 2016 08:08:58 GMT
[...]
- request:
    method: get
    uri: https://api.mysmartgrid.de:8443/sensor/user?end=1474873575&resolution=minute&start=1474873235&unit=watt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - pwd
      X-Version:
      - '1.0'
  response:
    status:
      code: 474
      message: 
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 26 Sep 2016 07:06:15 GMT
recorded_with: VCR 3.0.3
