.col-xs-12.col-sm-12.col-md-12.col-lg-12.group{id: "group_#{group.id}" }
  = link_to group do
    .panel.media.middle
      .media-left
        .bubble-mini-chart
          .bubbles_container{'data-content' => group.id, id: "bubbles_container_" + group.id.to_s}
            #dummy
      .media-body.pad-lft.pad-rgt
        %p.text-2x.mar-no= group.name
        %p.text-1x.text-thin= truncate(group.description, length: 120)
