%h1 Listing Users
#users
  - for user in @users
    .user
      %p
        %strong= link_to user.name, user
        = link_to "Add Friend", friendships_path( friend_id: user), method: :post
      .clear