- single_content_for :action do
  - if a.trackable
    = t("has_sent_a_register_user_request_to_register", register_name: link_to(a.trackable.name, a.trackable)).html_safe
  - else
    = t("has_sent_a_register_user_request_to_a_register_which_has_been_removed")