- single_content_for :action do
  - if a.trackable
    = t("has_sent_a_metering_point_user_request_to_metering_point", metering_point_name: link_to(a.trackable.name, a.trackable)).html_safe
  - else
    = t("has_sent_a_metering_point_user_request_to_a_metering_point_which_has_been_removed")