- single_content_for :action do
  - if a.recipient
    = t("rejected_a_metering_point_user_request_from_user", user: link_to(a.recipient.name, profile_path(a.recipient.profile))).html_safe
  - else
    = t("rejected_a_metering_point_user_request_from_an_unknown_user")