- single_content_for :action do
  - if a.trackable
    = t("is_not_a_part_of_the_group_anymore", group_name: link_to(a.trackable.name, a.trackable)).html_safe
  - else
    = t('no_information_available')