.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h4.modal-title= t'edit_contract'
    .modal-body
      = simple_form_for @electricity_supplier_contract, remote: true, html: {class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
        = render 'electricity_supplier_contracts/form_fields', f: f
        .modal-footer
          = f.button :submit, id: 'submit', class: 'btn btn-success'