#page-content
  .row
    .col-sm-12.col-md-12.col-lg-12
      %h1.page-header.text-overflow
        %span
          = t('legal_info')
      .panel
        .panel-body
          .text-center
            = 'Coming soon ...'