---
http_interactions:
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getDayEveryFifteenMinutes?day=6&meterId=EASYMETER_60139082&month=4&password=Zebulon_4711&user=team%40localpool.de&year=2016
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Thu, 03 Nov 2016 16:25:57 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","result":[{"time":1459893600000,"energy":21173964546739,"energyOut":132690731033000},{"time":1459894500000,"energy":21173990308000,"energyOut":132691006005321},{"time":1459895400000,"energy":21173999961805,"energyOut":132691540830000},{"time":1459896300000,"energy":21174014076000,"energyOut":132692347249125},{"time":1459897200000,"energy":21175022935014,"energyOut":132692354964000},{"time":1459898100000,"energy":21175032990615,"energyOut":132693196865000},{"time":1459899000000,"energy":21175069113000,"energyOut":132693579336844},{"time":1459899900000,"energy":21[...]
