---
http_interactions:
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getDataEveryDay?fromDay=1&fromMonth=2&fromYear=2016&meterId=EASYMETER_60051599&password=Zebulon_4711&toDay=2&toMonth=3&toYear=2016&user=team%40localpool.de
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Thu, 03 Nov 2016 16:25:59 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","result":[{"time":1454281200000,"energy":103580316223000,"energyOut":0},{"time":1454367600000,"energy":103691283994000,"energyOut":0},{"time":1454454000000,"energy":103903365395000,"energyOut":0},{"time":1454540400000,"energy":103930776946000,"energyOut":0},{"time":1454626800000,"energy":103934715590000,"energyOut":0},{"time":1454713200000,"energy":104034213075000,"energyOut":0},{"time":1454799600000,"energy":104297830307000,"energyOut":0},{"time":1454886000000,"energy":104361475048000,"energyOut":0},{"time":1454972400000,"energy":104540506586000,"energyOut":0},{[...]
