---
http_interactions:
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getLive?meterId=EASYMETER_60051560&numOfSeconds=6&password=Zebulon_4711&user=team%40localpool.de
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Thu, 03 Nov 2016 16:58:02 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","result":[{"time":1478192277984,"power":-113260},{"time":1478192279984,"power":-123140},{"time":1478192281983,"power":-115970}]}'
  recorded_at: Mon, 01 Feb 2016 00:30:01 GMT
[...]
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getDayEveryFifteenMinutes?day=6&meterId=EASYMETER_60051560&month=6&password=Zebulon_4711&user=team%40localpool.de&year=2016
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message:
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Thu, 03 Nov 2016 15:39:05 GMT
    body:
      encoding: ASCII-8BIT
      string: Internal Server Error
  recorded_at: Sat, 02 Jul 2016 08:05:04 GMT
recorded_with: VCR 3.0.3
