---
http_interactions:
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getDayEveryFifteenMinutes?day=6&meterId=EASYMETER_60051560&month=5&password=Zebulon_4711&user=team%40localpool.de&year=2016
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Thu, 03 Nov 2016 16:25:47 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","result":[{"time":1462485600000,"energy":100176386483202,"energyOut":0},{"time":1462486500000,"energy":100178592821060,"energyOut":0},{"time":1462487400000,"energy":100180798449860,"energyOut":0},{"time":1462488300000,"energy":100183004010668,"energyOut":0},{"time":1462489200000,"energy":100185208333450,"energyOut":0},{"time":1462490100000,"energy":100187413747757,"energyOut":0},{"time":1462491000000,"energy":100189619275873,"energyOut":0},{"time":1462491900000,"energy":100191823983875,"energyOut":0},{"time":1462492800000,"energy":100194027829670,"energyOut":0},{[...]
