---
http_interactions:
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getDayEveryFifteenMinutes?day=6&meterId=EASYMETER_60051560&month=4&password=Zebulon_4711&user=team%40localpool.de&year=2016
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Thu, 03 Nov 2016 16:25:49 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","result":[{"time":1459893600000,"energy":97454877650016,"energyOut":0},{"time":1459894500000,"energy":97457173492716,"energyOut":0},{"time":1459895400000,"energy":97459470031914,"energyOut":0},{"time":1459896300000,"energy":97461766845280,"energyOut":0},{"time":1459897200000,"energy":97463117001092,"energyOut":0},{"time":1459898100000,"energy":97465396959976,"energyOut":0},{"time":1459899000000,"energy":97467672741110,"energyOut":0},{"time":1459899900000,"energy":97469949124990,"energyOut":0},{"time":1459900800000,"energy":97472228429680,"energyOut":0},{"time":1[...]
[...]
