---
http_interactions:
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getLive?meterId=EASYMETER_60138947&numOfSeconds=6&password=Zebulon_4711&user=team%40localpool.de
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Thu, 03 Nov 2016 16:25:51 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","result":[{"time":1478190347914,"power":19564790},{"time":1478190349913,"power":19597300},{"time":1478190351913,"power":19578510}]}'
  recorded_at: Sat, 02 Jul 2016 08:05:10 GMT
[...]
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getDataEveryDay?fromDay=1&fromMonth=4&fromYear=2016&meterId=EASYMETER_60138947&password=Zebulon_4711&toDay=2&toMonth=5&toYear=2016&user=team%40localpool.de
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Thu, 03 Nov 2016 16:25:53 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","result":[{"time":1459461600000,"energy":1638014269281481,"energyOut":0},{"time":1459548000000,"energy":1642518090992160,"energyOut":0},{"time":1459634400000,"energy":1646839992431225,"energyOut":0},{"time":1459720800000,"energy":1650743008576377,"energyOut":0},{"time":1459807200000,"energy":1655333881446304,"energyOut":0},{"time":1459893600000,"energy":1659182634246386,"energyOut":0},{"time":1459980000000,"energy":1663568216391647,"energyOut":0},{"time":1460066400000,"energy":1668165712168312,"energyOut":0},{"time":1460152800000,"energy":1672837456455536,"energyO[...]
[...]
