---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"ac55og2suqqetopa2evflmt14d","secret":"ba5fup8s44101htna1qql6586f","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:43 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="ac55og2suqqetopa2evflmt14d",
        oauth_nonce="msUYnszNcx1U54n9c6XSejOh4NvlaRCBdA1QjDBMcpk", oauth_signature="TOMX3veMVdyEkWb%2B5pF8tX7BirM%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1467446743", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=046b3701be5144baab52777207bb4d30&oauth_token_secret=60f2737974674e79873ff2f1087c1734&oauth_callback_confirmed=true
  recorded_at: Sat, 02 Jul 2016 08:05:44 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/oauth1/authorize?email=team%40localpool.de&oauth_token=046b3701be5144baab52777207bb4d30&password=Zebulon_4711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_verifier=ce73810a555942e9a46c91e5a2fc5016
  recorded_at: Sat, 02 Jul 2016 08:05:44 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/access_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ac55og2suqqetopa2evflmt14d", oauth_nonce="aPHhMq3xnSR2Rl59LNCRZNilcHZYXayRGUZQNM2IM",
        oauth_signature="nQcSrnbHhKY6ZY%2BOMR2rclKbuog%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446744", oauth_token="046b3701be5144baab52777207bb4d30",
        oauth_verifier="ce73810a555942e9a46c91e5a2fc5016", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=95696c85a73e4b3ba805f4441adb0c4b&oauth_token_secret=fecddb14f8a24b9eb6c9b55928b77fd4
  recorded_at: Sat, 02 Jul 2016 08:05:44 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/last_reading?each=false&fields=power&meterId=EASYMETER_60051599
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ac55og2suqqetopa2evflmt14d", oauth_nonce="1bJdSTX2jeQYeJGShCrlBGgaQl6kZirrSybu3LxE",
        oauth_signature="tDrw%2FOwdVdX%2FT4DcnOKpGlrD3W8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446744", oauth_token="95696c85a73e4b3ba805f4441adb0c4b",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: '{"time":1467446702088,"values":{"power":1100640}}'
  recorded_at: Sat, 02 Jul 2016 08:05:45 GMT
[...]
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getDayEveryFifteenMinutes?day=5&meterId=EASYMETER_60051559&month=10&password=Zebulon_4711&user=team%40localpool.de&year=2016
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Thu, 05 Jan 2017 16:39:20 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","result":[{"time":1475618400000,"energy":21207199253000,"energyOut":0},{"time":1475619300000,"energy":21207199253000,"energyOut":0},{"time":1475620200000,"energy":21207199253000,"energyOut":0},{"time":1475621100000,"energy":21207199253000,"energyOut":0},{"time":1475622000000,"energy":21207199253000,"energyOut":0},{"time":1475622900000,"energy":21207199253000,"energyOut":0},{"time":1475623800000,"energy":21207199253000,"energyOut":0},{"time":1475624700000,"energy":21207199253000,"energyOut":0},{"time":1475625600000,"energy":21207199253000,"energyOut":0},{"time":1[...]
[...]
