---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"lu4jf1vrlqu6ntb49mv4m0oace","secret":"9n71hivj1l3vjp5nkv760ib7qv","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:01 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="lu4jf1vrlqu6ntb49mv4m0oace",
        oauth_nonce="XSRoLJf6dvAi3EK17u5EfW9N7fLCqc6w9MXfNhWc", oauth_signature="l06C%2BR9aSKvluBlqQ7lyF%2F090RA%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1467446701", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=268a9572fc154408b46812e79e3fe794&oauth_token_secret=68bddf1934f942f5981d3435a3773518&oauth_callback_confirmed=true
  recorded_at: Sat, 02 Jul 2016 08:05:01 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/oauth1/authorize?email=team%40localpool.de&oauth_token=268a9572fc154408b46812e79e3fe794&password=Zebulon_4711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_verifier=374f3b2c6d91443f9f318b26a7ac37d7
  recorded_at: Sat, 02 Jul 2016 08:05:01 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/access_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="lu4jf1vrlqu6ntb49mv4m0oace", oauth_nonce="uIlceXnWWZfjbn8dXR7CvTOaOPTCco90HOay7Yfpa9I",
        oauth_signature="o%2BSxwwG0dhib%2FmbSIftwAcgmnCg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446701", oauth_token="268a9572fc154408b46812e79e3fe794",
        oauth_verifier="374f3b2c6d91443f9f318b26a7ac37d7", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=f10e61d8c7dd472c8a3a2f568ecbb193&oauth_token_secret=2938fcadee7c476a9bf87a82f6b57025
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/readings?each=false&fields=energy&from=1475618400000&meterId=EASYMETER_60051559&resolution=fifteen_minutes&to=1475704800000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="lu4jf1vrlqu6ntb49mv4m0oace", oauth_nonce="yOTxkxGxWzG9NKw0190AWABvcX9B7b4MkFMUtLU4",
        oauth_signature="r8C%2BBOqcbINayXtOiKs3J51tYHI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446702", oauth_token="f10e61d8c7dd472c8a3a2f568ecbb193",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: '[{"time":1480606200000,"values":{"energy":22968322444644}},{"time":1480607100000,"values":{"energy":22970988922089}},{"time":1480608000000,"values":{"energy":22973229616478}}]'
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/readings?each=false&fields=energy&from=1475618400000&meterId=EASYMETER_60051560&resolution=fifteen_minutes&to=1475704800000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="lu4jf1vrlqu6ntb49mv4m0oace", oauth_nonce="tEISFJbtFaMoOrdSWVmCFZKPRUam7dG5Uc2EtvWAQ",
        oauth_signature="NrHFi3TR6veYRepT9CgpLW5DMhE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446701", oauth_token="f10e61d8c7dd472c8a3a2f568ecbb193",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      Www-Authenticate:
      - OAuth realm="default"
    body:
      encoding: UTF-8
      string: '[{"time":1480606200000,"values":{"energy":22968322444644}},{"time":1480607100000,"values":{"energy":22970988922089}},{"time":1480608000000,"values":{"energy":22973229616478}}]'
  recorded_at: Sat, 02 Jul 2016 08:05:01 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/readings?each=false&fields=energy&from=1475618400000&meterId=EASYMETER_60051599&resolution=fifteen_minutes&to=1475704800000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="lu4jf1vrlqu6ntb49mv4m0oace", oauth_nonce="LlX3b18jLJPjENWVm4dHI9CctIbyH1zhxDZvzNLY",
        oauth_signature="gQmK69YcK9QHI4RRApwmlcccZ4A%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446701", oauth_token="f10e61d8c7dd472c8a3a2f568ecbb193",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      Www-Authenticate:
      - OAuth realm="default"
    body:
      encoding: UTF-8
      string: '[{"time":1480606200000,"values":{"energy":22968322444644}},{"time":1480607100000,"values":{"energy":22970988922089}},{"time":1480608000000,"values":{"energy":22973229616478}}]'
  recorded_at: Sat, 02 Jul 2016 08:05:01 GMT
recorded_with: VCR 3.0.3
