---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"9thqg5t2vd1fobb7sa53tm2le0","secret":"560ug0h8givl70uku1q35cj5bo","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:46 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="9thqg5t2vd1fobb7sa53tm2le0",
        oauth_nonce="DRygIUlJWLPWkXHofxBI4TJLvlS3lBXS8PM9mmGNkAI", oauth_signature="ZtXEX1AU7OQTQmGrh%2B4eubPu%2F%2Fo%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1467446746", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=f6cc0ffd8eac4415b0a5bb8a2d20a5b9&oauth_token_secret=f9c956407824426c9b4db565b5108aeb&oauth_callback_confirmed=true
  recorded_at: Sat, 02 Jul 2016 08:05:46 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/oauth1/authorize?email=team%40localpool.de&oauth_token=f6cc0ffd8eac4415b0a5bb8a2d20a5b9&password=Zebulon_4711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_verifier=26ff2111eacb448dac4ba5c74bc797ec
  recorded_at: Sat, 02 Jul 2016 08:05:47 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/access_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="9thqg5t2vd1fobb7sa53tm2le0", oauth_nonce="j6s6pp7TgdWmtECmXoAoYeJ9Z0iOU7IuvIHY7yn0dAo",
        oauth_signature="tzg8MW7uGPcLarZ8zMJKOdcCgdw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446747", oauth_token="f6cc0ffd8eac4415b0a5bb8a2d20a5b9",
        oauth_verifier="26ff2111eacb448dac4ba5c74bc797ec", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=8225b83516954a8d9b684f827cd3cb5f&oauth_token_secret=1e9b5aae2a9147579e1e5c743035edeb
  recorded_at: Sat, 02 Jul 2016 08:05:47 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/last_reading?each=false&fields=power&meterId=EASYMETER_60051599
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="9thqg5t2vd1fobb7sa53tm2le0", oauth_nonce="xMcOo1qopOaryMchj5WNf8wDwOVfvecjvyTK37tAoU",
        oauth_signature="xjRT7h12%2Bz56qdoXiU7V3GLk%2BvU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446747", oauth_token="8225b83516954a8d9b684f827cd3cb5f",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: '{"time":1467446702088,"values":{"power":1100640}}'
  recorded_at: Sat, 02 Jul 2016 08:05:47 GMT
[...]
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getDayEveryFifteenMinutes?day=5&meterId=EASYMETER_60051559&month=10&password=Zebulon_4711&user=team%40localpool.de&year=2016
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Thu, 05 Jan 2017 16:39:28 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","result":[{"time":1475618400000,"energy":21207199253000,"energyOut":0},{"time":1475619300000,"energy":21207199253000,"energyOut":0},{"time":1475620200000,"energy":21207199253000,"energyOut":0},{"time":1475621100000,"energy":21207199253000,"energyOut":0},{"time":1475622000000,"energy":21207199253000,"energyOut":0},{"time":1475622900000,"energy":21207199253000,"energyOut":0},{"time":1475623800000,"energy":21207199253000,"energyOut":0},{"time":1475624700000,"energy":21207199253000,"energyOut":0},{"time":1475625600000,"energy":21207199253000,"energyOut":0},{"time":1[...]
[...]
