---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"1s3svpnu0jqm2q10vrqgdn5bcr","secret":"fpa6g93kc7u2e1dufp9ikjdhjl","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:49 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="1s3svpnu0jqm2q10vrqgdn5bcr",
        oauth_nonce="9K53zkqhLIA8MzlMUVWHkHgNbqNteIj2MmMcFdSQLew", oauth_signature="%2FwwqGWicuRmpc2cP4WgnNsrTHf0%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1467446749", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=e8d0a3b6c5ad47589e87b64dcbbdc6ec&oauth_token_secret=6349df308cb74cdc9a089eee1009f2e3&oauth_callback_confirmed=true
  recorded_at: Sat, 02 Jul 2016 08:05:49 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/oauth1/authorize?email=team%40localpool.de&oauth_token=e8d0a3b6c5ad47589e87b64dcbbdc6ec&password=Zebulon_4711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_verifier=70fd6f0683a04cdeb5fbcb15e602aa8d
  recorded_at: Sat, 02 Jul 2016 08:05:49 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/access_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="1s3svpnu0jqm2q10vrqgdn5bcr", oauth_nonce="jUpI1mjxXn43weZqq0qWDfTju7h0cLpJZsOuC3yUbw",
        oauth_signature="PmCkPUESNMCy3PPx7fjxbkorBts%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446749", oauth_token="e8d0a3b6c5ad47589e87b64dcbbdc6ec",
        oauth_verifier="70fd6f0683a04cdeb5fbcb15e602aa8d", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=95cd3773df8a4f72b2c48d84208bc59f&oauth_token_secret=98685f44a7ca404f808bd5908a866a32
  recorded_at: Sat, 02 Jul 2016 08:05:49 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/last_reading?each=false&fields=power&meterId=EASYMETER_60051599
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="1s3svpnu0jqm2q10vrqgdn5bcr", oauth_nonce="BSRSXswopeunY9WzSosZEtZVK5PIH89RfweP0ulvoUY",
        oauth_signature="aseCFFGn6xNU4Z8%2FZxH366Ks%2FTc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446749", oauth_token="95cd3773df8a4f72b2c48d84208bc59f",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: '{"time":1467446702088,"values":{"power":1100640}}'
  recorded_at: Sat, 02 Jul 2016 08:05:50 GMT
[...]
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/last_reading?each=false&fields=power&meterId=EASYMETER_60051560
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ac55og2suqqetopa2evflmt14d", oauth_nonce="0pn8o9cqAevTnq7xzgjFshEollcGaMBTmq63qkZlM",
        oauth_signature="Etk%2FdSn89uPtekNIYan40bpu4g4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1483634373", oauth_token="fad13d0653d64d21adc6834f3f4b66e7",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"time":1483634373393,"values":{"power":889290}}'
  recorded_at: Thu, 05 Jan 2017 16:39:34 GMT
recorded_with: VCR 3.0.3
