---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"4ppektrh56mb0iajs1cun59gtt","secret":"it38kfopdck3taqf6b8uhjl3no","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:01 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="4ppektrh56mb0iajs1cun59gtt",
        oauth_nonce="Yy14nBP1MENgy2cjH7mIIr7cpOdKzlBQ1FEXH88ssE", oauth_signature="SksD5rCr0%2Be5qCpuq%2FfAZIUdFKo%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1467446701", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=010c6d1972244766a24dce7907fd4a1c&oauth_token_secret=25d77673e28e4ea987536b304c00545b&oauth_callback_confirmed=true
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/oauth1/authorize?email=team%40localpool.de&oauth_token=010c6d1972244766a24dce7907fd4a1c&password=Zebulon_4711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_verifier=ad50bbbc132f4e449b6157f203b855a6
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/access_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="4ppektrh56mb0iajs1cun59gtt", oauth_nonce="ri31HtYpMnJS5MXScN0vAEGF8pm6ZnDRV2PrKmIMd0",
        oauth_signature="E1dtv99BST7EzkHxlLvMfOKffh4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446702", oauth_token="010c6d1972244766a24dce7907fd4a1c",
        oauth_verifier="ad50bbbc132f4e449b6157f203b855a6", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=48b5d3e91a6c43138f0149ffaadbf249&oauth_token_secret=1c84ccd5852c4396b82c73ae8003c88d
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/readings?each=false&fields=energy&from=1475618400000&meterId=EASYMETER_60051559&resolution=fifteen_minutes&to=1475704800000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="4ppektrh56mb0iajs1cun59gtt", oauth_nonce="Nf94Ky5c3gO7F9ZB9hStPFdY5kN9d1Y1RDgiumEnY",
        oauth_signature="p6sBvyTSskvzNcT0L1dRAnES44U%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446702", oauth_token="48b5d3e91a6c43138f0149ffaadbf249",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      Www-Authenticate:
      - OAuth realm="default"
    body:
      encoding: UTF-8
      string: '[{"time":1480606200000,"values":{"energy":22968322444644}},{"time":1480607100000,"values":{"energy":22970988922089}},{"time":1480608000000,"values":{"energy":22973229616478}}]'
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
[...]
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/readings?each=false&fields=energy&from=1475618400000&meterId=EASYMETER_60051599&resolution=fifteen_minutes&to=1475704800000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="4ppektrh56mb0iajs1cun59gtt", oauth_nonce="cNRfxBB1Y0J6tLjhQDAtTHC6khZ2tRXA3ECJe0usmo",
        oauth_signature="DVf%2BFBj4byF%2FooV4%2Bw47%2BOxXqWo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446701", oauth_token="48b5d3e91a6c43138f0149ffaadbf249",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      Www-Authenticate:
      - OAuth realm="default"
    body:
      encoding: UTF-8
      string: '[{"time":1480606200000,"values":{"energy":22968322444644}},{"time":1480607100000,"values":{"energy":22970988922089}},{"time":1480608000000,"values":{"energy":22973229616478}}]'
  recorded_at: Sat, 02 Jul 2016 08:05:01 GMT
recorded_with: VCR 3.0.3
