#content
  .forminput.box
    %h1= t'contracting_party_organization'

    = simple_form_for @organization, url: url_for( action: 'contracting_party_organization_update', controller: 'wizard_consumers'), method: 'put'  do |f|
      = render 'organizations/form_fields', f: f
      = f.submit t("continue"), class: 'btn btn-success', id: 'submit'