#content
  .forminput.box
    %h1= t'location_metering_point'

    = simple_form_for @metering_point, url: url_for( action: 'location_metering_point_update', controller: 'wizard_consumers'), method: 'put'  do |f|
      = f.input :uid
      = f.submit t("continue"), class: 'btn btn-success', id: 'submit'