---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"phie61vpim0ksv6h2dfblhngur","secret":"k2d4mf1ml9ckbpmkr2n1tq3nv1","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:03 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="phie61vpim0ksv6h2dfblhngur",
        oauth_nonce="jOmEqToO0csTNl8l1f2awO1xM8A24q4RwPrXFkipo", oauth_signature="0cM4Z%2BdOngArJCM%2FvHyum8fLY90%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1467446701", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=5ded6a8193b64402ada242dc4492b8f5&oauth_token_secret=cd44e41a4cc9483a80d3a24c521a3a80&oauth_callback_confirmed=true
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
recorded_with: VCR 3.0.3
