---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"3qbhdcs7ph93qib360l66qmupi","secret":"dedggr24aog4kklo1hern91ep8","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:07 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="3qbhdcs7ph93qib360l66qmupi",
        oauth_nonce="4CU3L6xnLG08TsZGIl1twzAgr7yK22nup80VYaelH0I", oauth_signature="Q%2Bi9RAsNxGM7hG2Pxznst9g8qxo%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1467446707", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=de040b619760447f9561f3dc30629ea6&oauth_token_secret=3c2c47f13fb14baaa89c9382363d7ef5&oauth_callback_confirmed=true
  recorded_at: Sat, 02 Jul 2016 08:05:08 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/oauth1/authorize?email=team%40localpool.de&oauth_token=de040b619760447f9561f3dc30629ea6&password=Zebulon_4711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_verifier=a12f7060f3b245a08f4eab2c9a699551
  recorded_at: Sat, 02 Jul 2016 08:05:09 GMT
recorded_with: VCR 3.0.3
