---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"kbt6etrqp1ucttuekcbe2ltngd","secret":"fa776bqbjj3g8cq3b1dojaj6tv","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:01 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="kbt6etrqp1ucttuekcbe2ltngd",
        oauth_nonce="CTAIPFbLno3gyNaXqvT5rciiIwoQ8LCmDNwJOiMP8Q", oauth_signature="B%2FeXA8o2hmeOhFI39BhU24WovQA%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1467446701", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=92ceec0bae104439a4b55d69b4f71103&oauth_token_secret=294c5fc87ca54bbfb494e081283aa390&oauth_callback_confirmed=true
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/oauth1/authorize?email=team%40localpool.de&oauth_token=92ceec0bae104439a4b55d69b4f71103&password=Zebulon_4711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_verifier=00a3b86e3b1c4ecf95ef38da3ff7911a
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
recorded_with: VCR 3.0.3
