---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"qo7smu5276vehcr4djhljr5evd","secret":"a00q5bcckqul3hkonbfbtupa0r","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:04 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="qo7smu5276vehcr4djhljr5evd",
        oauth_nonce="togwohsvLdiPce4p1sEPWWjvlGAnKXlSgU12WNVFACM", oauth_signature="VAWi%2B47n8Kg38fUm3yrpG3SH7dg%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1467446704", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=3d2a88efe90e48e69d8786e8fba0d9d0&oauth_token_secret=3a913241489948d28d5f3f4f0c8f497c&oauth_callback_confirmed=true
  recorded_at: Sat, 02 Jul 2016 08:05:04 GMT
recorded_with: VCR 3.0.3
