---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"s9qs65at1enuf182ue10ed3q0l","secret":"rvqu0cvr0jifsahi28lv6qnohd","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:05 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="s9qs65at1enuf182ue10ed3q0l",
        oauth_nonce="Ex1VIPrbGbqrhi1kLT076VFe7G7BZwwpLXHzM3R7tw", oauth_signature="mznVZ%2F%2F60FZ7VLFDxNG6O6GfftE%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1467446705", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=adbb9acfaf0d479cb82286322c518a49&oauth_token_secret=81cce4bb97e0468d8ace4c7b1c3e4f7e&oauth_callback_confirmed=true
  recorded_at: Sat, 02 Jul 2016 08:05:05 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/oauth1/authorize?email=team%40localpool.de&oauth_token=adbb9acfaf0d479cb82286322c518a49&password=Zebulon_4711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_verifier=c5881005d1784ca08f9e80d28c544843
  recorded_at: Sat, 02 Jul 2016 08:05:05 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/access_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="s9qs65at1enuf182ue10ed3q0l", oauth_nonce="pXaWuYxxXov09HsiuF0da2PWt7eCTbsk7pYoy7IY",
        oauth_signature="b6LSXvOYgoUJahmGC%2BfRJqE029g%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446705", oauth_token="adbb9acfaf0d479cb82286322c518a49",
        oauth_verifier="c5881005d1784ca08f9e80d28c544843", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=57e2915799974595bcdd96f7ed2b3dfa&oauth_token_secret=8adc5918636a4ac6ab16410f982c3a35
  recorded_at: Sat, 02 Jul 2016 08:05:06 GMT
recorded_with: VCR 3.0.3
