---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"66kv47u6u029v3gf5a2enjo7o4","secret":"fm59o43b616rijecf18a31pf11","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="66kv47u6u029v3gf5a2enjo7o4",
        oauth_nonce="n6vS9p7iBrQ3To0ge85nu7oM9zsslLGlavL1mc1Dz4", oauth_signature="XtFB6NiQ0EAP44z0adG93Dyh%2F9Q%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1467446702", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=39e6396b11124ce89b95ee04864a99a3&oauth_token_secret=64dc169bf50d44fcbef972fee4048fa8&oauth_callback_confirmed=true
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/oauth1/authorize?email=team%40localpool.de&oauth_token=39e6396b11124ce89b95ee04864a99a3&password=Zebulon_4711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_verifier=72b27db7a2ca4ad5acf1274f9fd7d139
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/access_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="66kv47u6u029v3gf5a2enjo7o4", oauth_nonce="uj7h1jkXJx8HCoN9XrJTwGgFFY2GlAFirU3fD7SmM",
        oauth_signature="hJOsg5pZn1Slol98v%2BRea9bMVSM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446702", oauth_token="39e6396b11124ce89b95ee04864a99a3",
        oauth_verifier="72b27db7a2ca4ad5acf1274f9fd7d139", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=e78ac63df1244702a62a862ccbcc0b04&oauth_token_secret=76b38b9e068740c29c1ec11f259c59d2
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn%20app%20test
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"6ic2se0099d3s6clqr747md0gr","secret":"70enfi1hksnr9f5l42r60acr1m","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:04 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/oauth1/authorize?email=team@localpool.de&oauth_token=39e6396b11124ce89b95ee04864a99a3&password=Zebulon_4711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 500
      message: Request failed.
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"/>
        <title>Error 500 </title>
        </head>
        <body>
        <h2>HTTP ERROR: 500</h2>
        <p>Problem accessing /public/v1/oauth1/authorize. Reason:
        <pre>    Request failed.</pre></p>
        <hr /><a href="http://eclipse.org/jetty">Powered by Jetty:// 9.3.z-SNAPSHOT</a><hr/>
        </body>
        </html>
  recorded_at: Sat, 02 Jul 2016 08:05:05 GMT
recorded_with: VCR 3.0.3
