---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"e2m206tufotddbts9lj6g16apk","secret":"qkg85bcv7jv2c1hb56cucllf03","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="e2m206tufotddbts9lj6g16apk",
        oauth_nonce="Mf37jPeU8dIbjI19KnTxHZrKwPVowsm96e5g9imynk", oauth_signature="AZNlNcPEzzZEITK4kmP%2FJdaR6rQ%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1467446702", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=f399740a7079497aa055fd8cef4e04ee&oauth_token_secret=d79d3658899447c897349c170b791ea5&oauth_callback_confirmed=true
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/oauth1/authorize?email=team%40localpool.de&oauth_token=f399740a7079497aa055fd8cef4e04ee&password=Zebulon_4711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_verifier=e727dc6c0b6f4fcd80e95553158d6745
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/access_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="e2m206tufotddbts9lj6g16apk", oauth_nonce="zB7SERhQfzPyfTCFMhMbppGdzjBY9yjtd8VMnZ1E2j4",
        oauth_signature="llQNm5lEshZ79QiqpmZiSFmiPiQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446702", oauth_token="f399740a7079497aa055fd8cef4e04ee",
        oauth_verifier="e727dc6c0b6f4fcd80e95553158d6745", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=468bdc9aefc84702b84934d969a14d9a&oauth_token_secret=02301f8ce6a945e3ab0e46408a78f33e
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/readings?each=false&fields=energy&from=1467410400000&meterId=EASYMETER_60009485&resolution=fifteen_minutes&to=1467496800000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="e2m206tufotddbts9lj6g16apk", oauth_nonce="76bQizT0Wky9Jj1fvB2dVppwzatsk2E0iROHi4o9c9I",
        oauth_signature="Ynt2AZo90b7S0QTr1pmN8G7O8v8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446702", oauth_token="468bdc9aefc84702b84934d969a14d9a",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: "{\"time\":1467446702088,\"values\":{\"power\":1100640}}"
  recorded_at: Sat, 02 Jul 2016 08:05:03 GMT
[...]
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/readings?each=false&fields=energy&from=1467410400000&meterId=EASYMETER_60009485&resolution=fifteen_minutes&to=1467496800000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="hrr740m2so2aikl0u8rsahf7lv", oauth_nonce="qTyD0phFyAioefRw1QLhfbIl04PMG4uLKskSJFOCjSE",
        oauth_signature="CybYpOWPd3Rc%2FfL%2BGRCa7r2c270%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446704", oauth_token="640404063b654238b227b218500744b8",
        oauth_version="1.0"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      Www-Authenticate:
      - OAuth realm="default"
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"/>
        <title>Error 401 </title>
        </head>
        <body>
        <h2>HTTP ERROR: 401</h2>
        <p>Problem accessing /public/v1/readings. Reason:
        <pre>    Unauthorized</pre></p>
        <hr /><a href="http://eclipse.org/jetty">Powered by Jetty:// 9.3.z-SNAPSHOT</a><hr/>
        </body>
        </html>
  recorded_at: Sat, 02 Jul 2016 08:05:04 GMT
recorded_with: VCR 3.0.3
