---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"q6ra2vg82ipvd8di0e9jcea3fg","secret":"6t5tai96dnkkcl9prvpio8phfj","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="q6ra2vg82ipvd8di0e9jcea3fg",
        oauth_nonce="g2i3QiHqLQtqZuAQpdlVOddNY5sh0FL9vZB3Oe5E", oauth_signature="4x00dDxu4MArHY7bcJEI9aXOWrE%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1467446701", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=f6268628701e4e68b16481c4449a4aaf&oauth_token_secret=2fca0ab926464b10a2503b95b4c951bd&oauth_callback_confirmed=true
  recorded_at: Sat, 02 Jul 2016 08:05:01 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn%20app%20test
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 500
      message: Request failed.
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"/>
        <title>Error 500 </title>
        </head>
        <body>
        <h2>HTTP ERROR: 500</h2>
        <p>Problem accessing /public/v1/oauth1/consumer_token. Reason:
        <pre>    Request failed.</pre></p>
        <hr /><a href="http://eclipse.org/jetty">Powered by Jetty:// 9.3.z-SNAPSHOT</a><hr/>
        </body>
        </html>
  recorded_at: Sat, 02 Jul 2016 08:05:03 GMT
recorded_with: VCR 3.0.3
