---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"q6ra2vg82ipvd8di0e9jcea3fg","secret":"6t5tai96dnkkcl9prvpio8phfj","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="q6ra2vg82ipvd8di0e9jcea3fg",
        oauth_nonce="g2i3QiHqLQtqZuAQpdlVOddNY5sh0FL9vZB3Oe5E", oauth_signature="4x00dDxu4MArHY7bcJEI9aXOWrE%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1467446701", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=f6268628701e4e68b16481c4449a4aaf&oauth_token_secret=2fca0ab926464b10a2503b95b4c951bd&oauth_callback_confirmed=true
  recorded_at: Sat, 02 Jul 2016 08:05:01 GMT
recorded_with: VCR 3.0.3
