---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"ovi8bcupfgroe5esaflm7gh98s","secret":"r9d06rl2q5si6nngehuv7cfcd4","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:10 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="ovi8bcupfgroe5esaflm7gh98s",
        oauth_nonce="SXMMBH6amuxRrs0LFHx0yeKFXvPytt2EPNU09FvQc", oauth_signature="OR%2BcQz5jlwyWIQa2%2BbtZfCs6kqM%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1467446710", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=476325a788114c86a42eae69e647d59f&oauth_token_secret=e5d55bb78bcf4c57b66dd1da2e595848&oauth_callback_confirmed=true
  recorded_at: Sat, 02 Jul 2016 08:05:11 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/oauth1/authorize?email=team%40localpool.de&oauth_token=476325a788114c86a42eae69e647d59f&password=Zebulon_4711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_verifier=7bd8eabb6f294486a16e03821693fced
  recorded_at: Sat, 02 Jul 2016 08:05:12 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/access_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ovi8bcupfgroe5esaflm7gh98s", oauth_nonce="ZuoaHvFNW4ysvXlGXJkStGd8ZDXgTZ7reeCQl8e8NU",
        oauth_signature="s2uLZjV0hQehh6hVMb2QesuEW7A%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446712", oauth_token="476325a788114c86a42eae69e647d59f",
        oauth_verifier="7bd8eabb6f294486a16e03821693fced", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=287d5c2a1099455f9ddf41585f155c1e&oauth_token_secret=ce3c8f38a54a4ddfb6bda204692d7b39
  recorded_at: Sat, 02 Jul 2016 08:05:13 GMT
recorded_with: VCR 3.0.3
