---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"b19ljvfe2gc7i9bjd1817knifo","secret":"1p838j4r2vhk3ruhck9en5tbeb","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:07 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="b19ljvfe2gc7i9bjd1817knifo",
        oauth_nonce="pSvw0ZChjx1jNBfDvoazlx2CkjxFcDBbAPiFosqU8", oauth_signature="MLFTi2WU9g2qHVXVM3WfKSOTQOk%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1467446707", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=c3c031e0248c403ba0b0e04119cfe14b&oauth_token_secret=07c71fd070bc4253b1c2265ed5822781&oauth_callback_confirmed=true
  recorded_at: Sat, 02 Jul 2016 08:05:07 GMT
recorded_with: VCR 3.0.3
