---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"ttc2qcahp5v2ard32arnqamjas","secret":"h55pv90pc2uquoupr10qi3dbm4","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="ttc2qcahp5v2ard32arnqamjas",
        oauth_nonce="bP4MKrPMdM17YcUovxHLBB9unn9UX2Vl21FRSsT2L8s", oauth_signature="FCOlq8n8XW1myAK93I6T%2FqgDTBU%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1467446702", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=4ed35bf71f8544888c2527fd7193124f&oauth_token_secret=53b31834db65499cb6b06410081191af&oauth_callback_confirmed=true
  recorded_at: Sat, 02 Jul 2016 08:05:02 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/oauth1/authorize?email=team%40localpool.de&oauth_token=4ed35bf71f8544888c2527fd7193124f&password=Zebulon_4711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_verifier=5a1c598fd66947fe870046862da2d288
  recorded_at: Sat, 02 Jul 2016 08:05:03 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/access_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ttc2qcahp5v2ard32arnqamjas", oauth_nonce="9bsd1WnSyjXighj94DrcDCP6WGSVrHbqJ6b6GNwUuM",
        oauth_signature="CjqaAf6VEM125xOHYd%2Bad%2BlOKmY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1467446703", oauth_token="4ed35bf71f8544888c2527fd7193124f",
        oauth_verifier="5a1c598fd66947fe870046862da2d288", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=8a85ad7b5dbc488ba8cde112f686ddaa&oauth_token_secret=828ca08776f74082b6b46658d6560e20
  recorded_at: Sat, 02 Jul 2016 08:05:03 GMT
recorded_with: VCR 3.0.3
