---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"2bumrn07mtubl5sg8vcihodd72","secret":"t4vdhaec2sq8nt9mu34s21rmdg","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:06 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="2bumrn07mtubl5sg8vcihodd72",
        oauth_nonce="wdTueh4V8iCtpi5xFkqzyHv3wYFavBNYJSdU6s2I4qo", oauth_signature="oQzC3P2AlBbOn1hGV4LdRd%2FeCh8%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1467446706", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=4cad9973d8ce4f3da57c1a2c9b0e312d&oauth_token_secret=28208989173942c6a82e3b5a2a8ba359&oauth_callback_confirmed=true
  recorded_at: Sat, 02 Jul 2016 08:05:06 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/oauth1/authorize?email=team%40localpool.de&oauth_token=4cad9973d8ce4f3da57c1a2c9b0e312d&password=Zebulon_4711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_verifier=8ded809007a04a6a90b2e949d193c310
  recorded_at: Sat, 02 Jul 2016 08:05:07 GMT
recorded_with: VCR 3.0.3
