---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"b6nrfg3an83su8r1mdk416j8l1","secret":"r7gdt58i816098c2akrjjivr9","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:01 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn%20app%20test
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"dt9dl84g8btc27h00pgkrsk4t5","secret":"c8ue0tqj7is7i1m64j5rfm3nmi","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Sat, 02 Jul 2016 08:05:04 GMT
recorded_with: VCR 3.0.3
