#page-content
  .row
    .dashboard-chart{id: @dashboard.id, 'data-metering_point-ids': @dashboard.dashboard_metering_points.collect{|m| m.id if m.formula != "" }.compact}
      .row
        .col-sm-12.col-md-12.col-lg-12
          .panel
            .panel-body.panel-colorful.dashboard-background
              .chart{id: "chart-container-#{@dashboard.id}", style: "width: 100%; height: 300px;"}
              .pad-all
                /.btn.btn-success.btn-chart-prev=content_tag(:i, nil, class: 'fa fa-angle-double-left')
                .btn.btn-success.btn-chart-prev=content_tag(:i, nil, class: 'fa fa-chevron-circle-left fa-2x')
                .btn.btn-success.btn-chart-zoomout=content_tag(:i, nil, class: 'fa fa-minus-circle fa-2x')
                /.btn.btn-success.btn-chart-next.pull-right=content_tag(:i, nil, class: 'fa fa-angle-double-right')
                .btn.btn-success.btn-chart-next.pull-right=content_tag(:i, nil, class: 'fa fa-chevron-circle-right fa-2x')
    .metering_points
      = render partial: "metering_points/metering_point_small", collection: @metering_points.decorate, as: :metering_point


