#page-content
  .row
    .col-sm-12.col-md-12.col-lg-12.dashboard-chart{id: @dashboard.id, 'data-metering_point-ids': @dashboard.dashboard_metering_points.collect{|m| m.metering_point_id if m.displayed}.compact}
      %h1.page-header.text-overflow
        %span
          = t('dashboard')
          %small
            %i.small-info-circle.fa.fa-info-circle{'data-content' => t('dashboard_info')}
      .panel
        .panel-body.panel-colorful.dashboard-background
          .text-center
            .btn.btn-default.btn-icon.btn-circle.icon-lg.btn-chart-zoomout.fa.fa-search-minus.fa-2x
          .btn.btn-default.btn-icon.btn-circle.icon-lg.btn-chart-prev.fa.fa-chevron-left.fa-2x
          .btn.btn-default.btn-icon.btn-circle.icon-lg.btn-chart-next.pull-right.fa.fa-chevron-right.fa-2x
          .chart{id: "chart-container-#{@dashboard.id}", style: "width: 94%; height: 300px; margin-left: 3%;"}

    .metering_points
      = render partial: "metering_points/metering_point_small", collection: @metering_points.decorate, as: :metering_point


