- single_content_for :action do
  = t("has_rejected_the_group_metering_point_invitation_from_group_with_metering_point", group_name: link_to(a.trackable.name, a.trackable), metering_point_name: link_to(a.recipient.name, a.recipient)).html_safe