.modal-content
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4.modal-title= t'old_readings'
  .modal-body
    %table#demo-dt-selection.table.table-striped.table-bordered{:cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th= t('time_of_reading')
          %th= t('count')
      %tbody
        - @readings.each do |reading|
          %tr
            %th
              =Time.at(reading[:timestamp].to_i).strftime("%d.%m.%Y")
            %th
              =reading[:watt_hour]/10000000000
            %th
              =link_to(t('delete'), reading_path(reading[:_id]), remote: false, class: 'btn btn-danger', :method => :delete, :data => {:confirm => t('are_you_sure')})
  .modal-footer
    .btn.btn-success{"data-dismiss" => "modal"}
      =t'close'