.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h4.modal-title= t'edit_users'
    .modal-body
      = simple_form_for @metering_point, remote: true do |f|
        = f.association :users, collection: current_user.friends << current_user, input_html: { class: 'select2'}
        = f.button :submit, id: 'submit', class: 'btn btn-primary'