.item{id: "metering_point_#{metering_point.id}", class: metering_point.mode }

  .row
    .col-md-12
      .block
        .header.no-border= link_to metering_point.name, metering_point
        .chart.blue_container
          #fake_location_display{style: "height: 200px"}
        .content.no-padding{style: "height: 50px"}

        //- if metering_point.register
        //.inlinebar.bar= metering_point.register.day_to_hours

  .row
    .col-md-6
      .devices
        = render metering_point.devices
    .col-md-6
      .users
        - metering_point.users.each do |user|
          = render user.profile
