.item{id: "metering_point_#{metering_point.id}", class: metering_point.mode }
  .block
    .header.no-border
      = link_to 'details', metering_point, class: 'btn btn-default pull-right'
      %h2= metering_point.name
    .chart{id: metering_point.mode}
      .chart_container#fake_location_display

