.col-md-6.col-lg-4{id: "metering_point_#{metering_point.id}" }
  .panel.widget
    .widget-header.bg-purple
      = image_tag metering_point.image, class: 'widget-bg img-responsive'
    .widget-body.text-center
      %h4.mar-no= link_to metering_point.name, metering_point
      %ul.list-unstyled.text-center.pad-top.mar-no.clearfix
        %li.col-xs-4
          %span.text-lg 1,345
          %p.text-muted.text-uppercase
            %small Following
        %li.col-xs-4
          %span.text-lg 23,456
          %p.text-muted.text-uppercase
            %small Followers
        %li.col-xs-4
          %span.text-lg 52,678
          %p.text-muted.text-uppercase
            %small Likes




