$("#myModal").html("#{escape_javascript(render 'metering_points/edit_metering_point')}");
$("#metering_point_location_id").val($("#myModal").data("location_id"))
$("#metering_point_mode").val($("#myModal").data("metering_point_mode"))