
.activity {
  position: relative;
  padding: 0px 0px 1em 5px;
  overflow: hidden;
  border-top: 1px solid #D1D1D1;


  .mega-icon{
    position: absolute;
    top: 14px;
    left: 0;
    width: 32px;
    height: 32px;
    color: #BBB;
    background-position: center center;
    background-size: 32px auto;
    background-repeat: no-repeat;

  }

  .body{
    overflow: hidden;
    padding: 1em 0 0;
    padding-left: 45px;

    .time {
      font-size: 12px;
    }

    .title {
      padding: 0 0 .25em 0;
      font-weight: bold;
      font-size: 14px;
    }

    .details{
      .avatar {
        background-color: none;
        float: left;
        padding: 0;
      }
      .message{
        display: inline;
        color: #666;
        font-size: 13px;
      }
    }
  }

}
