
.detail_icon {
  padding: 0;
  border-radius: 50%;
  background-color: #dcdcdc;
  font-size:100px;
  display:block;
  height:150px;
  width:150px;
  text-align:center;
}

.thumb_icon {
  border-radius: 50%;
  background-color: #dcdcdc;
  font-size: 30px;
  display: block;
  height: 45px;
  width: 45px;
  text-align: center;
  margin-right: 6px;
  margin-bottom: 6px;
}

.friendship_req {
  height: 100px;
  width: 100px;
  font-size: 70px;
}

.asset-thumb{
  border-radius: 50%;
  background-color: #dcdcdc;
  font-size: 30px;
  display: block;
  height: 140px;
  width: 140px;
  text-align: center;
  margin-right: 6px;
  margin-bottom: 6px;
}

.profiler-results {
  visibility: hidden;
}


.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
  margin-left: 37px;
}

.comment {
  .time {
    font-size: 12px;
  }
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#tree1{
  padding: 30px;
}

.user{
  display: block;
  width: 200px;
  float: left;
}



