.chart{
  padding: 20px;
}

.chart.in{
  background-image: linear-gradient(to bottom, #52AEFF, #2180D3);
  background-color: #3290E2;
  border-width: 1px;
  border-style: solid;
  border-color: #499DE5 #258FEC #1E73BD;
}

.chart.out{
  background-image: linear-gradient(to bottom, #FF8A65 45%, #E26A45 102%);
  background-color: #3290E2;
  border-width: 1px;
  border-style: solid;
  border-color: #EE815E #F27B56 #D66543;
}

.chart.display{
  background-image: linear-gradient(to bottom, #11C16C 45%, #549B55 102%);
  background-color: #3290E2;
  border-width: 1px;
  border-style: solid;
  border-color: #999999 #B8B8B8 #C2C2C2;
}

.chart_container{
  height: 200px;
}

.flot-text{
	color: #FFF
}

.axisLabels{
	color: #FFF
}

.flot-x-axis{
	color: #FFF
}

.flot-y-axis{
	color:#FFF
}

.block{
  margin-bottom: 50px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
  border: 0px none;
  background: none repeat scroll 0% 0% #FFF;
  border-radius: 3px;
}

.block .header{
  padding: 10px;
  border-radius: 3px 3px 0px 0px;
  height: 55px;
}

.block .no-border{
  border-bottom: 0px none;
}

.no-padding{
  padding: 0px !important;
}

table{
  width: 100%;
}

.nav > .tab-content{
  margin-top: 50px;
}

.list-container{
  padding: 20px;
}

.in.item > .block {
  margin-bottom: 0px;
}

.block .stat-data{
  padding: 5px;
  width: 50%;
  float: left;
}

.stat-blue{
  background-color: #43A0F2;
  text-align: center;
  color: white;
  border-radius: 3px;
  padding: 5px;
}

.stat-red {
  background-color: #F27B56;
  text-align: center;
  color: white;
  border-radius: 3px;
  padding: 5px;
}

.block .content{
  padding: 20px;
  display: inline-block;
  width: 100%;
}

.clear{
  clear: both;
}




