#fake_day_to_hours{
	background-image: linear-gradient(to bottom, #FF8A65 45%, #E26A45 102%);
}

#fake_month_to_days2{
	background-image: linear-gradient(to bottom, #52AEFF, #2180D3)
}

#fake_real_time_data{
	background-image: linear-gradient(to bottom, #52AEFF, #2180D3)
}

.flot-text{
	color: #FFF
}

.axisLabels{
	color: #FFF
}

.flot-x-axis{
	color: #FFF
}

.flot-y-axis{
	color:#FFF
}



