a, img {
    border:none;
    outline:none
}


// nifty_overrides
.navbar-brand{
  img{
    margin-left: 60px;
    margin-top: 10px;
    width: 90px;
  }
}

.panel-new{
  border: 3px dashed #fff;
  background: rgba(255,255,255,0.1);
  .panel-container{
    text-align: center;
    vertical-align: middle;
  }
}


.cover {
  padding-top: 10%;  /* slope */
  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
}

.small-info-circle{
  font-size: 0.7em;
  position: relative;
  bottom: 5px;
}

.normal-info-circle{
  font-size: 0.9em;
  position: relative;
  bottom: 2px;
}

.dashboard-background{
  #background-color: rgba(255, 255, 0, 0.15);
}

.remove-from-dashboard{
  margin-top: 5px;
}

.display-in-series{
  margin-top: 10px;
}

.remove_comment{
  float: left;
}

.close{
  line-height: 1.5;
}

.popover{
  color: #7C7C7C;
}

.add-to-dashboard{
  margin-bottom: 5px;
}

.timeline-circle{
  line-height: 1.9;
}

.profile-image{
  padding: 5px;
}

.brand-icon img{
  margin-left: 0px;
  width: auto;
}

.brand-icon{
  padding-left: 12px;
}

.brand-title img{
  margin-left: 20px;
  width: 90px;
}

.row-margin-left{
  margin-left: 15px;
}

.btn-chart-prev{
  position: relative;
  transform: translateY(380%);
}

.btn-chart-next{
  position: relative;
  transform: translateY(380%);
}

.two-column.timeline .timeline-entry:nth-child(2n) {
  float: none;
}

.wz-step {
  margin: 0px;
  padding: 20px 0px;
  list-style: none;
  text-align: center;
}

.float-left {
  float: left;
}

.btn {
  margin-top: 3px;
}

.pull-right {
  margin-left: 5px;
}

.speech-time {
  display: inline;
}

.likes-count {
  display: inline;
}

.likes {
  display: inline;
  margin-left: 5px;
}

.vote-for {
  cursor: pointer;
}

.vote-icon {
  margin-left: 5px;
}



.wrapper {
  margin: 50px auto;
  width: 280px;
  height: 370px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: 9px;
  z-index: 100;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}
.metering_point_detail {
  padding-right: 12px;
  padding-left: 12px;
  position: relative;
}

.icon-wrapper-lg {
  text-align: center;
  line-height: 1.6;
  #color: white;
}

.icon-wrapper-md {
  text-align: center;
  line-height: 1.6;
  #color: white;
}

.icon-wrapper-sm {
  text-align: center;
  line-height: 1.8;
  #color: white;
}

.icon-wrapper-xs {
  text-align: center;
  line-height: 2.4;
  margin-top: 9px;
  #color: white;
}

.bg-white {
  background-color: white;
}

.child-comments {
  margin-left: 5px;
  margin-top: 20px;
}

.speech {
  background: white none repeat scroll 0% 0%;
  display: block;
  padding: 0px 0px;
}

.speech::before {
  content: none;
}

.speech .media-heading {
  border-bottom: none;
  margin-bottom: 0px;
}

.remove_comment {
  display: none;
}

.speech:hover .remove_comment{
  display: block;
}

.comment-answer {
  display: none;
}

.comment-reply {
  cursor: pointer;
  color: #1F8DD6;
}

.comment-view-all-answers {
  cursor: pointer;
  color: #1F8DD6;
}

.comment-form-image {
  display: none;
}

.comment-form-show-image {
  cursor: pointer;
  color: #1F8DD6;
}

.searchbox .form-control {
  background-color: white;
}

.global-ribbon {
  transform: rotate(-45deg);
  left: -28px;
  top: 9px;
}

.global-ribbon-wrapper{
  left: -5px;
  right: 0px;
  top: 0px;
}

.comments-content {
  top: 143px !important;
}

.comment-form-container {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.024);
}

.error-not-found {
  background-color: black;
  color: white;
  text-align: center;
  font-size: x-large;

}

.error-message {
  margin-top: 20%;
}

.color-white > a{
  color: white !important;
}

.waiting-spinner {
  position: absolute;
  top: 47%;
  left: 47%;
  transform: translate(-47%, -47%);
}

.change-order {
  padding-top: 5px;
  padding-left: 5px;
  cursor: pointer;
  opacity: 0.5;
  display: inline;
}

.chart-context-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid #CCC;
  white-space: nowrap;
  font-family: sans-serif;
  background: #FFF;
  color: #333;
  border-radius: 5px;
  padding: 0;
}

.chart-context-menu li {
  padding: 8px 12px;
  cursor: pointer;
  list-style-type: none;
}

.chart-context-menu li:hover {
  background-color: #DEF;
}

.chart-comment-form {
  display: none;
  background-color: white;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 3px;
}

.set-chart-view {
  cursor: pointer;
  margin-right: 5px;
}

.chart-comments {
  height: 50px;
}

.chart-comment {
  cursor: pointer;
}

















