
//@import url("http://fonts.googleapis.com/css?family=Ruda:400,700,900");

$navbar-inverse-bg: #22242a;

@import "bootstrap";



.centered{
    text-align:center;
}



body, html, .container {
  height: 100%;
}

#main{
 margin-top: 20px;
}


body {
  color: #797979;
  background:white;
  // font-family: 'Ruda', sans-serif;
  // font-size:13px;
  padding-top: 51px;
}


img {
  @extend .img-responsive;
  margin: 0 auto;
}

.page-container{
  height: 100%;
}

.main-container{
  background: #eaeaea;
}

.navbar-logo{
  img{
    width: 120px;
    margin-top: 10px;
  }
}

