a, img {
    border:none;
    outline:none
}


// nifty_overrides
.navbar-brand{
  img{
    margin-left: 60px;
    margin-top: 10px;
    width: 90px;
  }
}

.panel-new{
  border: 3px dashed #fff;
  background: rgba(255,255,255,0.1);
  .panel-container{
    text-align: center;
    vertical-align: middle;
  }
}


.cover {
  padding-top: 10%;  /* slope */
  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
}

.small-info-circle{
  font-size: 0.7em;
  position: relative;
  bottom: 5px;
}

.normal-info-circle{
  font-size: 0.9em;
  position: relative;
  bottom: 2px;
}

.dashboard-background{
  background-color: rgba(0, 45, 110, 0.5);
}

.display-in-series{
  margin-top: 5px;
}




