
@import url("http://fonts.googleapis.com/css?family=Ruda:400,700,900");

@import "bootstrap";



body, html, .container {
  height: 100%;
}


body {
  color: #797979;
  background: #eaeaea;
  font-family: 'Ruda', sans-serif;
  font-size:13px;
  padding-top: 51px;
}


img {
  @extend .img-responsive;
  margin: 0 auto;
}

.page-container{
  height: 100%;
}

.main-container{
  background:white;
}


