
// nifty_overrides
.navbar-brand{
  img{
    margin-left: 60px;
    margin-top: 10px;
    width: 90px;
  }
}

.panel-new{
  border: 3px dashed #fff;
  background: rgba(255,255,255,0.1);
  .panel-container{
    text-align: center;
    vertical-align: middle;
  }
}

.new-metering-point{
  .panel-container{
    line-height: 300px;
  }
}

.new-meter{
  .panel-container{
    line-height: 225px;
  }
}

.new-device{
  .panel-container{
    line-height: 123px;
  }
}

.new-register{
  .panel-container{
    line-height: 156px;
  }
}

.new-user{
  .panel-container{
    line-height: 70px;
  }
}

.new-group{
  .panel-container{
    line-height: 400px;
  }
}



.cover {
  padding-top: 10%;  /* slope */
  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */

}


