.location_panel{
  .panel-body{
    padding: 0px;
  }
}
.metering_points{
  .item {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
  }
}