.metering_points{
  .thumb{
    float: left;
    margin-right: 3px;
    height: 25px;
    width: 25px;
    font-size: 25px;
  }
  a{
    text-decoration: none;
  }
  .item{
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #fbf6fe;
    border: 1px solid #e7d0f4;
    border-radius: 4px;
  }
  .up{
    background-color: #fef5f1;
    border: 1px solid #f5cccc;
  }
  .down{
    background-color: #f6fbff;
    border: 1px solid #cee4fb;
  }
}