.metering_points{
  .thumb{
    float: left;
    margin-right: 3px;
    height: 25px;
    width: 25px;
    font-size: 25px;
  }
  a{
    text-decoration: none;
  }
  .item{
    margin-bottom: 14px;
    background-color: #fbf6fe;
    border-radius: 4px;
  }
}