.metering_points{
  .users{

    .user_thumb{
      float: left;
    }
  }
  .item{
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #fbf6fe;
    border: 1px solid #e7d0f4;
    border-radius: 4px;
  }
  .up_metering{
    background-color: #fef5f1;
    border: 1px solid #f5cccc;
  }
  .down_metering{
    background-color: #f6fbff;
    border: 1px solid #cee4fb;
  }
}