#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
  .nav {
    width: 95%;
  }
  li {
    border: 0 #f2f2f2 solid;
    border-bottom-width: 1px;
  }
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {

  .row-offcanvas-right .sidebar-offcanvas {
    right: -41.6%;
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }

}