%p= t("devise.mailer.invitation_instructions.hello", email: @resource.email)
%p= t("devise.mailer.invitation_instructions.someone_invited_you", url: link_to(root_url, root_url)).html_safe
%p= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token)
%p= t("devise.mailer.invitation_instructions.ignore").html_safe