---
http_interactions:
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getLive?meterId=EASYMETER_1124001747&numOfSeconds=6&password=PPf93TcR&user=justus%40buzzn.net
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Wed, 16 Nov 2016 23:01:59 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","result":[{"time":1479337313981,"power":114900},{"time":1479337315983,"power":115160},{"time":1479337317986,"power":115390}]}'
  recorded_at: Sat, 02 Jul 2016 08:05:07 GMT
recorded_with: VCR 3.0.3
