- single_content_for :action do
  - if a.trackable
    = t("invited_user_to_join_the_metering_point", user: a.recipient ? a.recipient.name : t('an_unknown_user'), metering_point_name: link_to(a.trackable.name, a.trackable))
  - else
    = t("invited_user_to_join_a_metering_point_which_has_been_removed", user: a.recipient ? a.recipient.name : t('an_unknown_user'))