- single_content_for :action do
  - if a.trackable
    = t("rejected_a_metering_point_user_invitation_to_the_metering_point", metering_point_name: link_to(a.trackable.name, a.trackable)).html_safe
  - else
    = t("rejected_a_metering_point_user_invitation_to_a_metering_point_which_has_been_removed")