- single_content_for :action do
  - if a.trackable && a.recipient
    = t("has_rejected_the_group_register_request_from_register_at_group", group_name: link_to(a.trackable.name, a.trackable), register_name: link_to(a.recipient.name, a.recipient)).html_safe
  - else
    = t('no_information_available')