= simple_form_for @location do |f|

  = f.simple_fields_for :address do |a|
    = render 'addresses/form_fields', f: a

  .form-actions
    = f.button :submit, id: 'submit', class: 'btn btn-success'


