.col-sm-2
  .detail_icon
    %span.glyphicon.glyphicon-home
  %h4= @location.title

.col-sm-7
  .metering_points
    = render @location.metering_points

  - if current_user.can_update?(@location)
    = @location.new_metering_point

.col-sm-3
  %h5.page-header=t('news')



