---
http_interactions:
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/consumer_token?client=buzzn+app+test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"key":"t25rf1rru40eem6c6dn7g5c7om","secret":"d8ro6t44d000d2r55qo0sn8qar","owner":"buzzn
        app test","attributes":{},"principal":null}'
  recorded_at: Mon, 01 Feb 2016 00:30:01 GMT
[...]
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="f7us3ubbeur3nce8ck7f0ff66d",
        oauth_nonce="WoQLTbyCQZ5qOwjhM2cC7PR7WsGrV2d0igDNT27V8", oauth_signature="3YlbYzrl4X%2Foed8Jau1cTsYLoVU%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1454286601", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=b7848b4221e747438cef13a3e135daa0&oauth_token_secret=093bea4ce5dd485d9064a59147e8d28c&oauth_callback_confirmed=true
  recorded_at: Mon, 01 Feb 2016 00:30:01 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/oauth1/authorize?email=team%40localpool.de&oauth_token=b7848b4221e747438cef13a3e135daa0&password=Zebulon_4711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_verifier=793b16a6cdd742839559bda8962a7655
  recorded_at: Mon, 01 Feb 2016 00:30:01 GMT
- request:
    method: post
    uri: https://api.discovergy.com/public/v1/oauth1/access_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="f7us3ubbeur3nce8ck7f0ff66d", oauth_nonce="r5B7kc5kjv86mBBrdmX2R2joMimFm8FKK40lLgQGBn0",
        oauth_signature="6Tg7fhSqVfQTWjL8pdpq5nayjaw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1454286601", oauth_token="b7848b4221e747438cef13a3e135daa0",
        oauth_verifier="793b16a6cdd742839559bda8962a7655", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: oauth_token=58a845a4fb83455dac38473178a57789&oauth_token_secret=ac1ee3d87b8346428fb5ad41b4e52894
  recorded_at: Mon, 01 Feb 2016 00:30:01 GMT
- request:
    method: get
    uri: https://api.discovergy.com/public/v1/last_reading?each=false&fields=power&meterId=EASYMETER_60051560
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="f7us3ubbeur3nce8ck7f0ff66d", oauth_nonce="fdofQhKFhHjVmk4zwRtIXqwxX9eCewx7KrjmQnas6U",
        oauth_signature="ehryo9I9vu1C%2FTLGlmV5EV%2BtSc8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1454286601", oauth_token="58a845a4fb83455dac38473178a57789",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: "{\"time\":1466586561857,\"values\":{\"power\":889140}}"
  recorded_at: Mon, 01 Feb 2016 00:30:01 GMT
recorded_with: VCR 3.0.3
