---
http_interactions:
- request:
    method: get
    uri: https://my.discovergy.com/json/Api.getLive?meterId=EASYMETER_60051560&numOfSeconds=6&password=Zebulon_4711&user=team%40localpool.de
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      last-modified:
      - Mon, 07 Nov 2016 10:00:54 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","result":[{"time":1478512849454,"power":872460},{"time":1478512851454,"power":872140},{"time":1478512853454,"power":879220}]}'
  recorded_at: Mon, 01 Feb 2016 00:30:01 GMT
recorded_with: VCR 3.0.3
