%footer#footer
  = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin"

  -# = javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry"
  -# = javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"
  /= javascript_include_tag "//cdn.jsdelivr.net/jquery.metismenu/2.1.0/metisMenu.min.js"


  / Visible when footer positions are fixed
  / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  .show-fixed.pull-right
    %ul.footer-list.list-inline
      %li
        %p.text-sm SEO Proggres
        .progress.progress-sm.progress-light-base
          .progress-bar.progress-bar-danger{:style => "width: 80%"}
      %li
        %p.text-sm Online Tutorial
        .progress.progress-sm.progress-light-base
          .progress-bar.progress-bar-primary{:style => "width: 80%"}
      %li
        %button.btn.btn-sm.btn-dark.btn-active-success Checkout
  / Visible when footer positions are static
  / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  .hide-fixed.pull-right.pad-rgt= APP_VERSION if user_signed_in? && current_user.has_role?(:admin)
  / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  / Remove the class name "show-fixed" and "hide-fixed" to make the content always appears.
  / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  %p.pad-lft © 2015 buzzn